body{

	background-image: url("img/wdb.png");
	margin: 0;
	color: white;

}

/* Icono del Header, el que está junto a los enlaces de los HTMLs */
#icono{

	width: 75px;
	height: 75px;
	border-radius: 100%;

}

/* Anclas del Header */
.anchor{

	font-size: 36px;
	margin-left: 10%;
	position: relative;
	top: -20px;

}

#header{

	position: fixed;
	width: 100%;
	top: 0%;
	background-color: grey;
	z-index: 1;

}

#presentacion, #about, #expertise{

	margin-left: 10%;
	margin-bottom: 10%;

}

#presentacion{

	margin-top: 10%;
	width: 75%;

}

#presentacion p h2{

	padding-right: 10%;
	font-size: 18px;
	display: inline-block;
	
}

#about h2{

	width: 50%;
	margin: 0%;

}

#div_foto_presen{

	width: 25%;
	height: 50%;
	float: right;
	position: relative;
	top: -5em;

}

#div_foto_about{

	width: 25%;
	height: 25%;
	float: left;

}

/* Ajuste de las imágenes para que aparezcan en la pantalla sin que sean muy grandes */
#foto_presen, #imagen_about{

	width: 75%;
	height: 75%;
	border-radius: 100%;

}

/* Estilización de los botones */
button {
	border: none;
	background-color: blue;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 25px;
}

.about{

	width: 50%;

}

#tabla{

	border: 2px solid rgb(192,192,192);
	width: 60%;

}

#tabla_cabecera:hover{

	cursor: pointer;

}

#life:hover{

	color:greenyellow;

}

#edu:hover{

	color:greenyellow;

}

#exp:hover{

	color:greenyellow;

}

.tabla_contenido{

	text-align: center;	

}

/* Bordes para el interior de la tabla */
table th, table td{

	border: 2px solid rgb(192,192,192);

}

/* Un poco de margen para el botón "Download CV" para que no esté pegado a la tabla */
#cv{

	margin-top: 1%;

}

#expertise li{

	margin: 1%;

}

@media (max-width: 427px){

	#about_me, #contact{

		margin-left: 1%;

	}

	#header{

		position: initial;

	}

	#presentacion, #about, #expertise{

		margin-left: 1%;

	}

	#foto_presen{

		width: 150%;
		margin-top: 75%;
		margin-left: 25%;

	}

	#imagen_about{

		display: none;

	}

	#tabla{

		margin-top: 25%;
		margin-left: auto;
		margin-right: auto;

	}

	#cv{

		position: relative;
		left: 25%;

	}

}