/* Todos los elementos */
* {
	padding: 0;
	margin: 0;
}

/* El cuerpo del documento */
body {
	background-color: black;
}

/* Ocultamos las imágenes que usaremos más tarde en el juego */
#img_fondo, #img_brick, #img_ball, #img_space {
	display: none;
}

/* Las 3 primeras líneas son para aplicar gif como fondo de pantalla del juego, el resto para la forma de mostrar el canvas */
canvas {
	background-image: url("./img/space.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	border: 1px solid black;
}

/* ----- MODAL ----- */

/* Fondo del Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido del Modal */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	position: relative;
	top: -7.5em;
}

/* El mensaje del modal (Victoria o derrota) */
.modal-content p {

	text-align: center;
	font-size: 150%;
	font-weight: bold;

}

/* Botón de Continuar */
#seguir {
	margin-left: 25%;
}

/* Botón de Abandonar */
#salir {
	margin-left: 5%;
}

/* Los botones de Seguir o Abandonar */
.modal-content button {

	color: white;
	background-color: blue;
	font-size: 125%;
	margin: 10% 0%;
	padding: 5%;

}

/* El botón de cerrar */
.close {

	float: right;
	font-size: 28px;
	font-weight: bold;
}

/* El botón de cerrar al poner el ratón por encima */
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* El mensaje al salir del juego */
h2 {
	color: white;
}