body{

	background-color: lightgoldenrodyellow;
	
}

.editar{

	background-color: lightblue;

}

.eliminar{

	background-color: red;

}

hr{

	border-bottom: 5px solid black;

}

ul{

	width: 50%;
	border-right: 3px solid black;

}

button{

	font-size: 0.8em;

	margin-left: 5%;

}

li{

	margin: 1% 0%;
	font-size: 1.5em;

	border-bottom: 3px solid black;

}