*{

	margin: 0;

}

body{

	background-color: #f3f3f3;

}

#header{

	color: white;
	background-color: blue;
	text-align: right;
	padding-right: 15%;
	padding-bottom: 10%;
	padding-top: 2%;

}

a {

	color: white;
	text-decoration: none;

}

#header a{

	padding: 2%;
	font-size: 1.5em;

}

#div_nombre{

	border: 1px solid white;
	text-align: center;
	margin-top: 5%;
	margin-left: 48%;
	margin-right: 30%;
	padding: 2%;

}

#foto_perfil{

	height: 150px;
	width: 150px;
	position: relative;
	top: -5em;
	border-radius: 100%;

}

#foto_perfil:hover{

	transform: scale(1.2);
	transition: transform .2s;

}

#div_presentacion{

	color: blue;
	text-align: center;
	background-color: white;
	position: relative;
	top: -5em;

}

#div_texto_diseño{

	position: relative;
	top: -4em;
	margin-left: 30%;
	margin-right: 30%;

}

#texto_portfolio{

	color: blue;
	font-size: 3em;
	text-align: center;
	position: relative;
	top: -1em;

}

#div_imagenes{

	padding-left: 20%;
	padding-right: 15%;
	padding-bottom: 5%;

}

.trabajos{

	display: inline-block;
	border: 1px solid black;
	color: blue;
	text-align: center;
	margin-bottom: 2%;

}

#contacto{

	background-color: white;
	color: blue;
	text-align: center;
	font-size: 2em;
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 20%;

}

textarea{

	width: 47.5%;
	height: 10em;
	margin-right: 52%;
	margin-left: 26%;

}

input[type=text]{

	margin-top: 5%;
	margin-bottom: 2%;
	height: 2em;

}

#submit{

	color: white;
	width: 48%;
	font-size: 1.5rem;
	margin-bottom: 2%;
	background: url(send.png) no-repeat 17em center;
	background-size: 2.5rem 2.5rem;
	background-color: blue;
	border: none;

}

footer{

	font-size: 1.5em;
	background-color: blue;
	padding: 10%;
	padding-left: 20%;
	padding-right: 20%;

}

#politicas{

	display: inline-block;
	width: 50%;

}

#redes_sociales img{

	height: 50px;
	width: 50px;

}

#redes_sociales{

	position: relative;
	left: 50%;
	width: 50%; /*Para evitar que se ensanche la pantalla*/

}